.banner {
    /* position: relative; */
    overflow: hidden;
    /* background: #fff;
    background: url("public/teena/Design 6.png") no-repeat; */
    background: #fff url("public/teena/Design 6.png") no-repeat;
    background-size: cover;
    min-height: 550px;
  }
  
  .banner .block {
    padding: 80px 0px 160px;
  }
  
  .banner .block h1 {
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -1.2px;
    text-transform: capitalize;
    color: #444444;
  }

  @media (max-width: 480px) {
    .banner .block h1 {
      font-size: 38px;
      line-height: 50px;
    }
    .banner {
      min-height: 450px;
      background: #fff !important;
    }
  }
  
  @media (max-width: 400px) {
    .banner .block h1 {
      font-size: 28px;
      line-height: 40px;
    }
    .banner {
      min-height: 450px;
      background: #fff !important;
    }
  }
  
  @media (max-width: 768px) {
    .banner .block h1 {
      font-size: 56px;
      line-height: 70px;
    }
    .banner {
      background: #fff !important;
    }
  }
  
  @media (max-width: 992px) {
    .banner {
      background: #fff !important;
    }
  }